// Theme Width.
$themeWidth: 1240px;

// Content Width.
$contentWidth: 800px;
$wideBlockWidth: 960px;

// Fullwidth Template.
$contentFullwidth: 1160px;
$wideBlockFullwidth: 1320px;

// Theme Colors
$themeColors: (

	// Block Editor Colors
	--primary-color                  : #2a4861,
	--secondary-color                : #5d7b94,
	--tertiary-color                 : #90aec7,
	--accent-color                   : #60945d,
	--contrast-color                 : #e63e4c,
	--highlight-color                : #915d94,
	--light-gray-color               : #ededef,
	--gray-color                     : #84848f,
	--dark-gray-color                : #24242f,

	// Text Colors
	--text-color                     : #333,
	--medium-text-color              : #666,
	--light-text-color               : #999,
	--dark-border-color              : #404040,
	--medium-border-color            : #ccc,
	--light-border-color             : #ddd,

	// Links and Buttons
	--link-color                     : #1585b5,
	--link-hover-color               : #252525,
	--button-color                   : #1585b5,
	--button-text-color              : #fff,
	--button-hover-color             : #252525,
	--button-hover-text-color        : #fff,

	// Header
	--header-background-color        : #fff,
	--site-title-color               : #1585b5,
	--site-title-hover-color         : #252525,

	// Navigation
	--navi-primary-color             : #1585b5,
	--navi-primary-text-color        : #fff,
	--navi-secondary-color           : #252525,
	--navi-secondary-text-color      : #fff,
	--navi-secondary-text-hover-color: rgba(255, 255, 255, 0.5),
	--navi-border-color              : rgba(255, 255, 255, 0.1),

	// Titles
	--title-color                    : #303030,
	--title-hover-color              : #cc5555,
	--widget-title-color             : #303030,
	--widget-title-hover-color       : #cc5555,

	// Footer
	--footer-background-color        : #252525,
	--footer-text-color              : #fff,
	--footer-link-color              : #fff,
	--footer-link-hover-color        : rgba(255, 255, 255, 0.5),
);

// Theme Fonts
$baseFont: "Oxygen", arial, helvetica, sans-serif;
$titleFont: "Oxygen", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font: $baseFont,
	--title-font: $titleFont,
	--navi-font: $titleFont,
	--widget-title-font: $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight: bold,
	--navi-font-weight: bold,
	--widget-title-font-weight: bold,
);

// Text Transform.
$textTransform: (
	--title-text-transform: none,
	--navi-text-transform: uppercase,
	--widget-title-text-transform: uppercase,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.75,
	--title-line-height : 1.4,
);
