.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2em;
	max-width: 100%;
}

.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #252525;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	color: #252525;
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #1585b5;
}

.type-post .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.entry-content a {
	text-decoration: underline;
}

.sticky {
	margin-top: 0;
}
