/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	@include background(--button-color);
	@include color(--button-text-color);
	text-decoration: none;
	@include font-size(13);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
}

.more-link:link,
.more-link:visited {
	@include color(--button-text-color);
	transition: all 0.2s ease;
}

.more-link:hover,
.more-link:active {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}

.entry-content > .more-link {
	text-decoration: none;
}
