/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	background: #1585b5;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	font-size: 0.8125rem;
	font-family: 'Oxygen', Tahoma, Arial;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
	transition: all 0.2s ease;
}

.more-link:hover,
.more-link:active {
	background: #252525;
}

.entry-content > .more-link {
	text-decoration: none;
}
