/* Audio */
.wp-block-audio audio {
	width: 100%;
}

/* Cover */
.wp-block-cover {
	display: flex;
}

.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
}

/* Image */
.wp-block-image .alignleft {
    margin-right: 1.5em;
}

.wp-block-image .alignright {
    margin-left: 1.5em;
}

/* Captions */
.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin-top: 0.3em;
	margin-bottom: 1em;
	color: #555;
    font-size: 14px;
    text-align: center;
}
