.site-footer-wrap {
	background: #252525;
}

.site-footer {
	color: #fff;
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer .site-info {
	float: left;
	padding: 1em 2em;
}

.site-footer a:link,
.site-footer a:visited {
	color: #fff;
	text-decoration: underline;
}

.site-footer a:hover,
.site-footer a:active {
	text-decoration: none;
}
