.site-header {
	@include background(--header-background-color);
}

.header-main {
	padding: 2em;
}

.site-branding {
	float: left;
	margin: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	border: none;
	text-decoration: none;
}

.site-title {
	display: inline-block;
	margin: 0.15em 0;
	padding: 0;
	@include color(--site-title-color);
	text-decoration: none;
	@include font-size(32);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.site-title a:link,
.site-title a:visited {
	@include color(--site-title-color);
	transition: all 0.2s ease;
}

.site-title a:hover,
.site-title a:active {
	@include color(--site-title-hover-color);
}

.site-branding .custom-logo {
	margin: 0.4em 0.6em 0.4em 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: 0 0 0.5em;
	@include font-size(15);
}

/* Header Widgets */
.header-widgets {
	display: inline;
}

.header-widget {
	float: right;
	margin: 0.4em 0 0 1.5em;
}

.header-widget ul {
	margin: 0;
	padding: 0;
}

.header-widget-title {
	margin: 0 0 0.5em;
}

/* Custom Header Image */
.header-image {
	margin: 1px 0 0;
	text-align: center;
}

.header-image img {
	max-width: 1340px;
	width: 100%;
	height: auto;
	vertical-align: top;
}
