.site {
	margin: 0 auto;
	max-width: 1340px;
	width: 100%;
}

.site-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	padding: 2em 0 0 2em;
	background: #fff;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.content-area {
	order: 1;
	box-sizing: border-box;
	padding-right: 2em;
	width: 56%;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

.main-sidebar {
	order: 2;
	padding-right: 2em;
	width: 22%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

.small-sidebar {
	order: 3;
	padding-right: 2em;
	width: 22%;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
}

/* Fullwidth Template */
.site-content .fullwidth-content-area {
	float: none;
	width: 100%;
}
