@media only screen and (max-width: 80em) {
	.site-content {
		padding: 1.5em 0 0 1.5em;
	}

	.content-area,
	.main-sidebar,
	.small-sidebar {
		padding-right: 1.5em;
	}

	.header-main {
		padding: 1.5em;
	}

	.widget,
	.widget-magazine-posts .type-post,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.infinite-scroll #infinite-handle span {
		margin: 0 0 1.5em;
	}
}

@media only screen and (max-width: 70em) {
	.content-area {
		width: 70%;
	}

	.main-sidebar {
		width: 30%;
	}

	.small-sidebar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		padding: 0;
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
	}

	.small-sidebar .widget {
		padding-right: 1.5em;
		width: 33.333%;
	}
}

@media only screen and (max-width: 60em) {
	.small-sidebar .widget {
		width: 50%;
	}
}

@media only screen and (max-width: 55em) {
	.site-branding {
		float: none;
		margin: 0;
		text-align: center;
	}

	.site-branding .custom-logo {
		margin: 0.4em 0;
	}

	.header-widget {
		float: none;
		margin: 0.5em 0 0;
		text-align: center;
	}
}

@media only screen and (max-width: 50em) {
	.content-area {
		order: 1;
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}

	.main-sidebar {
		order: 2;
		width: 50%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.small-sidebar {
		display: block;
		order: 3;
		width: 50%;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
	}

	.small-sidebar .widget {
		width: 100%;
	}
}

@media only screen and (max-width: 40em) {
	.main-sidebar {
		width: 100%;
	}

	.small-sidebar {
		width: 100%;
	}
}

@media only screen and (max-width: 35em) {
	.small-archive-post .entry-content {
		display: none;
	}
}

@media only screen and (max-width: 20em) {
	.entry-meta .meta-date,
	.entry-meta .meta-author,
	.entry-meta .meta-category {
		display: block;
	}

	.small-archive-post .entry-meta {
		display: none;
	}
}
