/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em 0;
	@include background(--widget-title-color);
}

.page-header .archive-title {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	@include color(--widget-title-text-color);
	@include font-size(14);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
}

.archive-description {
	@include color(--medium-text-color);
}
