/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em 0;
	@include background(--widget-title-color);
}

.page-header .archive-title {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	@include color(--widget-title-text-color);
	text-transform: uppercase;
	@include font-size(14);
}

.archive-description {
	@include color(--medium-text-color);
}
