/* Small Post Layout */
.small-archive-post {
	padding: 0 0 1.5em;
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
}

.small-archive-post .wp-post-image {
	float: left;
	margin: 0 1.5em 0 0;
	padding: 0 0 0.5em;
	max-width: 45%;
}

.small-archive-post .entry-title {
	@include font-size(22);
}

.small-archive-post .entry-content {
	@include font-size(15);
}

.small-archive-post .entry-excerpt p {
	margin-bottom: 1em;
}
