/* Theme Pagination */
.pagination {
	display: block;
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	@include font-size(14);
}

.pagination a:link,
.pagination a:visited {
	@include color(--button-hover-text-color);
	transition: all 0.2s ease;
}

.pagination a:hover,
.pagination .current {
	@include background(--button-color);
	@include color(--button-text-color);
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2em;
	padding: 0.3em 0.8em;
	@include background(--button-color);
	@include color(--button-text-color);
	text-decoration: none;
	@include font-size(13);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
}

.infinite-scroll #infinite-handle span:hover {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}
